* {
  box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  /* background-color: rgba(210, 131, 232, 0.492); */
  background-image: linear-gradient(90deg,rgba(210, 131, 232, 0.605),rgba(186, 47, 228, 0.605));
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgb(174, 110, 192);
}

.form_group{
  display: flex;
  flex-direction: column;
}
fieldset{
  border: 3px solid;
  border-image-source: radial-gradient(ellipse at top left,rgb(39, 217, 191) 30%, transparent 65%);
  border-image-slice: 1;
}
select{
  width: fit-content;
}
legend{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.875);
}
#country{
  width: 30%;
}
button{
  cursor: pointer;
}
